@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap')
@import "mixins.sass"
$blue: #31aae2
$violet: #9d35c0
$gray: #616161
$gradient: linear-gradient(45deg, $blue 30%, $violet 70%)

body
    font-family: "Open Sans", sans-serif
    font-size: 15px
    line-height: 27px
    color: #616161

img
    max-width: 100%
    max-height: 100%
    object-fit: cover
    object-position: 0 0

.container
    max-width: 1200px
    margin: 0 auto
    padding: 0 15px
    &_Y
        padding: 120px 15px

//HEADER>>>

.header
    padding-bottom: 150px
    color: #fff
    background: #a343bf url(../images/intro.png) center/cover fixed
    text-align: center
    position: relative
    hr
        background-color: rgba(255, 255, 255, 0.3)
        height: 1px
    &__arrows
        position: absolute
        top: calc(40% + 80 * (100vw / 1170))
        right: 10%
        i
            display: block
            border-radius: 3px
            background-color: rgba(0, 0, 0, 0.2)
            margin-bottom: 1px
            padding: 17px 20px
            cursor: pointer
            &:hover
                color: #00aeef
                background-color: rgba(0, 0, 0, 0.1)
    &__content
        margin: 20% 0
        position: relative
        h1
            font-size: calc(20px + 15 * (100vw / 1170))
            font-weight: bold
            margin-bottom: 45px
        button
            background-color: #00aeef
            border-radius: 3px
            padding: 19px 22px
            font-size: 13px
            font-weight: 600
            margin-top: 45px
    &__items
        width: 50%
        margin: 0 auto
        position: relative
        font-weight: 900
        font-size: 12px
        letter-spacing: 0.1rem
        line-height: 1.3rem
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__item
        flex: 0 0 30%
        p
            margin-top: 15px
    &__socials
        height: 130px
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: 30px
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: start
    .nav
        margin: 0 30px
        &__top
            display: flex
            justify-content: space-between
            align-items: center
            padding: 11px 0 13px 0
            img
                cursor: pointer
        &__acc
            img
                margin-left: 10px
                margin-top: 5px
        &__main
            padding-top: 16px
            display: flex
            justify-content: space-between
            align-items: center
        &__link
            margin-left: 2vw
        &__contacts
            i
                &:nth-of-type(2)
                    margin: 0 3vw 0 2.5vw
        &__contact
            font-size: 12px
            font-family: 'Open Sans'
            font-weight: 600

//ABOUT>>>

.about
    &__inner
        display: flex
        justify-content: space-between
        align-items: center
    &__content
        flex: 0 0 47%
        margin-right: 30px
        h3
            color: #333333
            font-size: 24px
            font-weight: 600
            margin-bottom: 25px
    &__items
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
        margin-top: 15px
    &__item
        flex: 0 0 48%
        display: inherit
        align-items: center
        margin-top: 30px
    &__item-content
        h4, p
            margin-left: 15px
            text-align: center
            font-weight: 600
        h4
            color: #333333
            font-size: calc(12px + 4 * (100vw / 1170))
            font-weight: 700

//DOMAIN>>>

.domain
    text-align: center
    color: #fff
    width: 100%
    height: 480px
    background: url("../images/domain.jpg") 0 0 fixed
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    h2
        font-size: 30px
        font-weight: 700
        line-height: 40px
        width: 80vw
        max-width: 420px
    p
        margin: 28px 0 15px 0
    form
        position: relative
        max-width: 550px
        width: 80vw
    input[type="text"]
        padding: 15px 0 18px calc(30px + 10 * (100vw / 1170))
        width: 100%
        border: 2px solid $blue
        border-radius: 50px
        color: $gray
        margin: 30px 0
    i
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: calc(10px + 10 * (100vw / 1170))
        color: #909090
    button
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: 7px
        width: 130px
        padding: 12px 0
        background: $gradient
        border-radius: 30px
        font-weight: 600
    &__checks
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        flex-wrap: wrap
    input[type="checkbox"]
        display: none
        &+label
            margin: 25px
            &::before
                content: ''
                display: inline-block
                width: 15px
                height: 15px
                border: 1px solid $blue
                margin-right: 5px
                position: relative
                top: 2px
                cursor: pointer

//HOWTOBUILD>>>

.howToBuild
    text-align: center
    &__intro
        width: 80vw
        max-width: 680px
        margin: 0 auto 70px
        h2
            color: #333333
            font-size: 30px
            font-weight: 600
            line-height: 40px
            letter-spacing: 0.6px
            margin-bottom: 20px
    &__steps
        width: 100%
        display: flex
        justify-content: space-evenly
        align-items: center
        flex-wrap: wrap
    &__step
        flex: 0 0 25%
        h3
            margin: 20px 0 15px 0
            font-size: 24px
            font-weight: 600
            color: #333333

//SERVICE>>>

.service
    background-color: #f9f9f9
    text-align: center
    color: #333333
    &__intro
        max-width: 770px
        margin: 0 auto
        h2
            font-size: 30px
            font-weight: 700
            line-height: 40px
        p
            max-width: 90%
            margin: 20px auto 60px
    &__items
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
    &__item
        flex: 0 1 25%
        padding: 0 18px
        &:nth-child(-n+3)
            border-right: 1px dashed $blue
        i
            background: $gradient
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: 50px
        h4
            font-weight: normal
            margin: 20px 0 10px 0
            font-size: 18px
            font-weight: 700
            letter-spacing: 0.36px

//PRICE>>>

.price
    position: relative
    &__slider-arrows
        i
            position: absolute
            top: 60%
            transform: translateY(-50%)
            &:first-child
                left: 5%
            &:last-child
                right: 5%
    &__intro
        margin: 0 auto 70px
        text-align: center
        max-width: 58%
        h3
            color: #333333
            font-size: 30px
            font-weight: 600
            margin-bottom: 20px
    &__slider
        max-width: 75vw
        margin: 0 auto
    &__slider-content
        max-width: 50%
        margin-right: 20px
        h4
            color: #333333
            font-size: 24px
            font-weight: 600
            margin-bottom: 25px
        img
            float: left
            margin-right: 4vw
        p
            margin-top: 20px
    &__slider-inner
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
    &__check
        height: 110px
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
        span
            font-family: 'Open Sans', sans-serif
            font-weight: normal
            line-height: 20px
        i
            flex: 0 0 48%
    &__button
        color: $blue
        background-color: transparent
        border: 2px solid $blue
        border-radius: 5px
        padding: 16px 25px
        font-size: 20px
        margin: 40px 0 60px 0
    &__slider-nav
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 72px
    &__slider-point
        width: 14px
        height: 14px
        border: 2px solid $blue
        cursor: pointer

//BUILDER>>>

.builder
    color: #fff
    display: flex
    flex-direction: row
    &__pic
        width: 50%
    &__content
        max-height: 100%
        flex: 0 1 50%
        background: $gradient
        padding: 83px 5.5%
        &-header
            font-size: 30px
            margin-bottom: 27px
            font-weight: 700
            line-height: 30px
        &-text
            margin-top: 22px
            max-width: 60%

//HOWTO>>>

.howToChoose
    color: #333333
    &__container
        max-width: 1080px
    h3
        text-align: center
        font-size: 30px
        font-weight: 700
        line-height: 34px
    &__tabs
        margin: 74px auto 50px
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
    &__tabs-item
        cursor: pointer
        display: inline-block
        height: 60px
        flex: 0 1 16.5%
        background-color: #f9f9f9
        border-radius: 2px
        cursor: pointer
        text-align: center
        font-weight: 600
        padding: 16px 0
        &_active
            background: $gradient
            color: white
    &__tabs-content
        h4
            font-size: 20px
            font-weight: 600
        p
            margin-top: 22px
        img
            float: right
            padding: 50px

//STAT>>>

.stat
    height: 540px
    display: flex
    align-items: center
    background: url(../images/stat.jpg) center/cover fixed
    color: #fff
    text-align: center
    &__items
        width: 80%
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &__item
        flex: 1 0 25%
    &__num
        margin: 34px 0 29px 0
        font-size: calc(30px + 5 * (100vw / 1170))
    &__text
        font-size: calc(15px + 4 * (100vw / 1170))

//BLOG>>>

.blog
    background-color: #f9f9f9
    &__items
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &__item
        flex: 0 1 31.5%
        margin-bottom: 10px
    &__pic
        position: relative
        img
            width: 100%
    &__date
        padding: 6px 15px
        background-color: #00aeef
        color: #fff
        max-width: 80px
        border-radius: 3px
        position: absolute
        left: 19px
        bottom: 15px
        &_active
            background: $gradient
            color: white
    &__content
        padding: 27px 42px 30px 25px
        background-color: #fff
        h4
            color: #616161
        h3
            color: #333333
            font-size: 18px
            font-weight: 600
            margin-bottom: 14px
        hr
            height: 1 px
            width: 90%
            background-color: #ededed
        p
            margin: 17px 0 25px 0
        i
            color: #333
    &__button, &__comments, &__share
        display: inline-block
        background-color: #f9f9f9
        border-radius: 2px
    &__button
        color: #00aeef
        padding: 6px 20px
        font-weight: 600
        margin-right: 50px
        &_active
            background: $gradient
            color: white
    &__comments
        padding: 3px 8px 2.5px 11px
        max-width: 80%
    &__share
        padding: 3px 11px 2.5px 12px
        margin: 0 5px

//FAQ>>>

.faq
    &__container
        max-width: 970px
        margin: 0 auto
        h2
            color: #333333
            font-size: 29px
            font-weight: 700
            margin-bottom: 70px
    &__content
        display: flex
        justify-content: space-between
    &__categories
        display: flex
        flex-direction: column
        min-width: 160px
        margin: 0 25px 25px 0
        h4
            color: #033333
            font-size: 16px
            font-weight: 600
            margin-bottom: 15px
    &__link
        line-height: 40px
        &_active
            color: #00aeef
    &__items
        flex: 0 1 75%
    &__item
        background-color: #f9f9f9
        padding: 14px 60px 15px 31px
        position: relative
        margin-bottom: 15px
        &::before
            content: ''
            display: block
            width: 15px
            height: 100%
            background-color: #00aeef
            position: absolute
            top: 0
            left: 0
        &::after
            content: '+'
            display: block
            font-size: 50px
            color: #fff
            width: 55px
            height: 100%
            background: $gradient
            position: absolute
            padding: 14px
            top: 0
            right: 0
        &_active
            &::after
                padding: 9px 20px
                content: '-'

//SUB>>>

.sub
    background: $gradient 0 0 /100% 410px no-repeat
    text-align: center
    &__container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: flex-end
    &__content
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between
        position: relative
        margin-right: 50px
        flex: 0 0 65%
    &__main
        width: 90%
        color: #fff
        h2
            font-size: 30px
            font-weight: 700
            line-height: 40px
        h4
            font-size: 13px
            letter-spacing: 3.9px
            margin: 16px 0 36px 0
    &__form
        display: flex
        input
            flex: 0 0 72%
            padding: 14px 31px
            border-radius: 5px 0 0 5px
            border: 1px solid rgba(227, 227, 227, 0.75)
            letter-spacing: 1.5px
            max-height: 62px
            &::placeholder
                opacity: 0.7
                color: #333333
                font-size: 15px
                letter-spacing: 1.5px
    &__btn
        flex: 0 0 28%
        padding: 17px 2vw
        background-color: #00aeef
        color: #fff
        font-size: calc(10px + 6 * (100vw / 1170))
        letter-spacing: 1.8px
        border-radius: 0 5px 5px 0
        text-overflow: ellipsis
    &__clients
        margin: 185px 0 50px 0
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
    &__client
        flex: 0 0 25%
    &__phone
        padding: 50px 5vw
        flex: 0 0 32%
        color: #333333
        box-shadow: 0 0 25px rgba(198, 198, 198, 0.25)
        letter-spacing: -0.6px
        background-color: #fff
        font-weight: 600
        h2
            font-size: 30px
            margin: 20px 0 10px 0
        h3, a
            font-size: 24px
        a
            display: block
            margin: 22px 0 37px 0

    &__phone-icon
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        width: 60px
        height: 60px
        background-color: #00aeef
        border-radius: 50%
        i
            color: #fff
            position: absolute
    &__arrows
        i
            display: inline-block
            padding: 8px 10px
            border-radius: 3px
            background-color: #f6f6f6
            color: #00aeef
            cursor: pointer
            margin: 0 7px
            &:hover
                color: #fff
                background-color: #c2ecfb
    &__phone-button
        border-radius: 2px
        background-color: #00aeef
        color: #ffffff
        font-weight: 600
        font-size: 20px
        padding: 10px 17px

//FOOTER>>>

.footer
    padding: 70px 0 50px 0
    background-color: #2c3e50
    color: #8f9095
    hr
        background-color: #374859
        margin-top: 6px
    &__main
        display: flex
        flex-direction: row
        justify-content: space-between
        flex-wrap: wrap
    &__item
        flex: 0 0 25%
        display: inherit
        flex-direction: column
        margin-bottom: 30px
        &:nth-child(4)
            flex-direction: row
            justify-content: center
            flex-wrap: wrap
            a
                flex: 0 0 50%
            h5
                flex: 0 0 100%
        h5
            color: #e3e3e3
            letter-spacing: 0.75px
        a, p
            font-size: 13px
            margin-top: 10px
    &__schedule
        line-height: 40px
    &__socials
        display: flex
        flex-wrap: wrap
        margin-top: 20px
    &__bottom
        color: #4c5b6a
        font-size: 13px
        letter-spacing: 0.26px
        padding-top: 52px
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        a
            margin-right: 2.5vw
