@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 27px;
  color: #616161;
}

hr {
  background-color: rgba(255, 255, 255, 0.3);
  height: 1px;
  border: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.container {
  margin: 0 auto;
  padding: 120px 15px;
  max-width: 1170px;
}

.header {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: #a343bf url(../images/intro.png) center/cover fixed;
  text-align: center;
}

.header .container {
  padding: 0;
}

.header__arrow {
  position: absolute;
  top: 52%;
  right: 10%;
}

.header__arrow i {
  display: block;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  margin-bottom: 1px;
  padding: 17px 20px;
  cursor: pointer;
}

.header__arrow i:hover {
  color: #00aeef;
  background-color: rgba(0, 0, 0, 0.1);
}

.header__content {
  margin: 25vh 0 50vh 0;
}

.header__content h1 {
  line-height: 60px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.header__content button {
  background-color: #00aeef;
  border-radius: 3px;
  padding: 19px 22px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 45px;
}

.header__items {
  position: relative;
  font-weight: 900;
  font-size: 12px;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

.header__socials {
  height: 100%;
  position: absolute;
  left: 0;
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header .nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 0 13px 0;
}

.header .nav__top img {
  cursor: pointer;
}

.header .nav__main {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__link {
  margin-left: 2vw;
  font-weight: 14px;
}

.header .nav__contact {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  max-width: 540px;
}

.about__content h3 {
  color: #333333;
  font-weight: 600;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.about__item-content h4, .about__item-content p {
  margin: 0 0 0 15px;
  text-align: center;
}

.domain {
  text-align: center;
  color: #fff;
  width: 100%;
  height: 466px;
  background: url("../images/domain.jpg") 0 0 fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.domain h2 {
  font-weight: bold;
  color: white;
}

.domain form {
  position: relative;
  margin: 0 auto;
  max-width: 570px;
}

.domain input[type="text"] {
  width: 510px;
  height: 60px;
  padding-left: 60px;
  border: 2px solid #00aeef;
  border-radius: 50px;
  outline: none;
  color: #616161;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  margin: 50px 0 34px 0;
}

.domain i {
  position: absolute;
  top: 43%;
  left: 30px;
  color: #909090;
}

.domain button {
  position: absolute;
  top: 35%;
  right: 7px;
  width: 130px;
  height: 45px;
  background: linear-gradient(45deg, #00aeef 10%, 40%, #9655c7 60%);
  border-radius: 30px;
  font-weight: 600;
}

.domain input[type="checkbox"] {
  display: none;
}

.domain input[type="checkbox"] + label {
  margin: 25px;
}

.domain input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #00aeef;
  margin-right: 5px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.howto {
  text-align: center;
}

.howto__intro {
  max-width: 40vw;
  margin: 0 auto 70px auto;
}

.howto__steps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howto__step {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.howto__step h3 {
  margin: 20px 0 15px 0;
  font-weight: 600;
}

.service {
  background-color: #f9f9f9;
  text-align: center;
}

.service__intro {
  max-width: 60vw;
  margin: 0 auto;
}

.service__intro p {
  max-width: 50vw;
  margin: 0 auto 60px auto;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 18px;
}

.service__item:not(:last-child) {
  border-right: 1px dashed #00aeef;
}

.service__item i {
  background: linear-gradient(45deg, #00aeef 10%, 40%, #9655c7 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
}

.service__item h4 {
  font-weight: normal;
  margin: 20px 0 10px 0;
}

.price__slider-arrows i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.price__slider-arrows i:first-child {
  left: -80px;
}

.price__slider-arrows i:last-child {
  right: -80px;
}

.price__intro {
  margin: 0 auto;
  text-align: center;
  max-width: 58%;
}

.price__slider {
  border: 1px solid black;
  position: relative;
}

.price__slider-content {
  max-width: 50%;
}

.price__slider-content img {
  float: left;
}

.price__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__check {
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price__button {
  color: #00aeef;
  background-color: transparent;
  border: 2px solid #00aeef;
  border-radius: 5px;
  padding: 16px 25px;
  font-size: 20px;
}

.price__slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
}

.price__slider-point {
  width: 14px;
  height: 14px;
  border: 2px solid #00aeef;
  cursor: pointer;
}

.builder {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.builder__pic {
  width: 50%;
}

.builder__content {
  max-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background: linear-gradient(45deg, #00aeef 10%, 40%, #9655c7 60%);
  padding: 83px 5.5%;
}

.builder__content-header {
  font-size: 30px;
  margin-bottom: 27px;
  font-weight: 700;
  line-height: 30px;
}

.builder__content-text {
  margin-top: 22px;
  max-width: 60%;
}

.howToChoose {
  pading: 120px 0;
  color: #333333;
}

.howToChoose__container {
  max-width: 1080px;
}

.howToChoose h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
}

.howToChoose__tabs {
  margin: 74px auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.howToChoose__tabs-item {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.5%;
          flex: 0 1 16.5%;
  background-color: #f9f9f9;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  padding: 16px 0;
}

.howToChoose__tabs-item_active {
  background: linear-gradient(45deg, #00aeef 10%, 40%, #9655c7 60%);
  color: white;
}

.howToChoose__tabs-content h4 {
  font-size: 20px;
  font-weight: 600;
}

.howToChoose__tabs-content p {
  margin-top: 22px;
}

.howToChoose__tabs-content img {
  float: right;
  padding: 50px;
}
